*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #eeecec;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.cont-logo{
    display: flex;
    align-content: center;
}
header div a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.ancorActive{
    border-bottom: 4px solid orange;
    border-radius: 2px;
    padding: 8px;
}
header div a b{
    font-size: 30px;
    color: black;
}
.logo{
    width: 4rem;
    height: 4rem;
}
.ancorHeader{
    display: flex;
    gap: 20px;
    align-items: center;
}
.cont-search-home{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.cont-search-home-fake{
    display: flex;
    width: 200px;
}

.cont-search{
    width: 40rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.cont-search2{
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 20px ;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 60%;
}
.search{
    border: none;
    background-color: transparent;
    height: 100%;
    width: 30rem;
}

input:focus {
    outline: none;
}

.img-lupa{
    width: 1rem;
    height: 1rem;
}

.car{
    display: flex;
    width: 1.5rem;
    margin-right: 10px;
}

.cont-ancors{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
.cont-ancors>a{
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: .2rem 1rem .2rem 1rem;
}

.cont-ancors>a:hover{
    background-color: #1BB2E1;
}

main{
    min-height: 77vh;
    background-color: #D9D9D9;
}

.cont-carrusel{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 600px;
}

.dadCarousel{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 65%;
    border-radius: 20px;
}

#carouselExampleAutoplaying{
    width:100%;
}

.border1{
    margin: 0 auto;
    border-radius: 20px;

    max-height: 465px;
}

.cards{
    height: auto;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.card:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.tam_img_card{
    height: 15rem !important;
}

.card-text{
    color: #1BB2E1;
}

.stock{
    border-radius: 20px;
    color: white;
    width: 5rem;
}

.img-heart{
    width: 1.3rem;
    height: 1.2rem;
    
}

.favorite-btn{
    position:absolute;
    top: .2rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.cont-stock{
    padding: 10px; 
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.style-mens{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.style-mens>img{
    width: 6rem;
    margin-top: 4rem;
}

.details{
    background-color: #1BB2E1;
}

.cont-slider{
    height: 140px;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: 6rem 0;
}

.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
    align-items: center;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}

.cont-slide{
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.cont-slide img{
    width: 80%;
    height: 100px;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 60px;
    padding-bottom: 30px;
    margin: 10px;
}

.imgWelcome{
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 15px;
}
.parrafo{
    display: flex;
    max-width: 600px;
    text-align: center;
    padding: 2rem;
}

.mapGoogle{
    border-radius: 20px;
    box-shadow: 0 0 15px;
    width: 450px;
    height: 300px;
    border: 0;
}
.negrita{
    font-weight: bold;
    color: rgb(169, 123, 39);
    font-size: 20px;
    height: 30px;
}
.ancorFoot{
    text-decoration: none;
    text-align: center;
    color: white;
    width: 200px;
}
.contenedorFoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.contFootDad{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

footer{
    background-color: #000;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
}

.footerMod{
    display: flex;
    gap: 60px;
    margin-top: 6px;
}
.logoFooter{
    width: 25px;
}

.contenedor-padre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 1rem;
    margin: 2rem;
    height: 30rem;
 }
 .contact-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(167, 232, 232, 0.246);
 }
 .contenedor-form{
    width: 30rem;
 }
 .contact-main section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
.textoContact{
    max-width: 700px;
    text-align: center;
 }
 .contact-main section{
     margin: 3rem;
 }
 .nombre, .apellido, .email, .telefono, .comentario{
     padding: 5px 0;
 }

 .select{
    padding: 30px 0 5px 0;
 }

 .img-contacto{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 2rem;
 }
 .container-contact{
    display: flex;
    background-color: rgba(0, 0, 0, 0.238);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    max-width: 1000px ;
    margin-left: 30px;
    margin-right: 30px;
 }
 .cont-img-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
 }
 .contact-imagenes{
    display: flex;
    align-items: center;
    border-radius: 2rem;
 }
 .contact-imagenes p{
    text-align: center;
    font-size: 15px;
    padding: 2rem;
 }

 .img-cart{
    width: 6rem;
    
}
.venta{ 
    width: 25rem;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 6px;
    gap: 1rem
}

.garbage{
    width: 1rem;
    height: 1rem;
}
.btn-delete{
    border: none;
    background: transparent;
}
.shopping-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.cart-info{
    
    padding-top: 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-delete{ 
    padding-top: 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.cart-delete>p{
    font-size: 14px;
}

.cart-pago{
    width: 25rem;
    justify-content: space-between;
    align-items: center;
}
.btn-pago{
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width: 767px){
    header>div .navbar {
        justify-content: flex-end;
    }

    header>div .navbar .offcanvas{
        margin-top: 10vh;
        width: 15rem;
        height: 17.5rem;
    }

    header>div .navbar .offcanvas-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #5e4b55;
    }
    header>div .navbar .offcanvas-body a{
        background-color: #fce1cb;
        text-align: center;
        margin: .5rem 0;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .contact-imagenes p {
        display: none;
    }

}
@media (min-width:320px) and (max-width:767px){
    .img-contacto{
        display: none;
    }
    header{
        justify-content: center;
    }
    .dadCarousel{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .border1{
        border-radius: 0px;
    }
    .contFootDad{
        gap: 0;
    }
    .contact-imagenes p {
        display: none;
    }
    .ancorHeader{
        gap: 10px;
        flex-wrap: wrap;
    }
    .mapGoogle{
        width: 300px;
        margin: 10px;
    }
    .conteiner{
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 10px;
    }
    .parrafo{
        max-width: 300px;
    }
    .imgWelcome{
        width: 100px;
    }
    .cont-slide{
        width: 180px
    }
    .contact-main section h2 {
        text-align: center;
    }
    .container-contact {
        width: 300px;
    }
    .form-control{
        width: 300px;
    }
    .form-input{
        width: 70% !important;
        background-color: black;
    }
    .nombre, .apellido, .email, .telefono, .comentario {
        padding: 0;
    }
}